* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container {
    background-color: rgb(206, 169, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

.logo-img{
    height: 100px;
    width: 100px;
    padding: .5rem;
}

.logo-link {
    text-decoration: none;
    color: antiquewhite;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-Lista {
    display: flex;
    list-style-type: none;
    gap: 2rem;

}

.nav-Lista a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.carrito-container{
    font-size: 30px;
    gap: .5rem;
    padding: .5rem;

}

.carrito-container span {
    color: antiquewhite;
}

.productos-container {
    text-align: center;
    padding: 0.5rem;
    gap: 1rem;
}

.tCatalogo{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}
.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card{
    border: solid;
    border-color: bisque;
    border-radius: 10px;
    padding: 2rem;
}

.img-card{
    height: 250px;
}

.img-nav {
    height: 25px;
}

.btn-mas{
    border: none;
    border-radius: 5px;
    padding: .3rem;
    font-size: 18px;
    margin-top: 1.5rem;
    background-color: burlywood;
}

.btn-mas a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tDetalle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 5rem;
}

.detalleContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    border: solid;
    border-color: bisque;
    margin-top: 4rem;
    padding: 1rem;
}

.container-precio-descripcion{
    text-align: center;
    margin: auto;
    margin-right: 0;
}

.imgDetalle {
    margin-left: 100px;
}

.precioContainer{
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.textoDetalle{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-carrito {
    background-color: rgb(145, 216, 74);
    color: antiquewhite;
    font-size: 18px;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
}

.carrito-container a {
    text-decoration: none;
    color: antiquewhite;
}

.container-carrito-final{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: solid;
    color: rgb(125, 68, 68);
    margin-top: 2rem;
    width: 1500px;
    margin: auto;
    margin-top: 3rem;

}

.img-carrito-final{
    width: 100px;
}

.titulo-carrito-final{
    font-size: 22px;
    color: black;
}

.container-reset{
    text-align: center;
}

.titulo-carrito-total{
    margin-top: 2rem;

}

.btn-carrito-total{
    border: none;
    background-color: brown;
    font-size: 25px;
    padding: 10px;
    margin-top: 2rem;
    border-radius: 10px;
    color: antiquewhite;
}

.btn-portada {
    display: flex;
    flex-direction: column;

}

.btn-carrito-final {
    background-color: red;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: .5rem;
    color: aliceblue;
}

.contenedor-btn-carrito{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    margin: auto;
    padding: 1rem;
    gap: 2rem;
}

.btn-finalizar-compra {
    margin: auto;
    font-size: 23px;
    padding: 1rem;
    background-color: rgb(136, 179, 93);
    border: none;
    border-radius: 10px;
}

.btn-finalizar-compra a {
    text-decoration: none;
    color: aliceblue;
}

.container-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8rem;
}

.container-form input{
        display: block;
        width: 40%;
        padding: 10px;
        margin: auto;
        margin-bottom: 15px; 
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

.btn-realizar-orden{
    font-size: 22px;
    margin-top: 7rem;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    background-color: rgb(154, 190, 119);
    color: antiquewhite;
}

.titulo-finalizar{
    padding-bottom: 5rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-final{
    padding: 9rem;
    text-align: center;
}

.contenedor-final p {
    margin-top: 5rem;
    font-size: 20px;
}

.contenedor-btn-final{
    background-color: rgb(146, 188, 105);
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 8rem;
    border-radius: 10px;
}

.btn-seguir-comprando{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-carrito {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.carrito-vacio{
    text-align: center;
    margin-top: 10rem;
}